@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(#27272a 50%, #075985 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 0 2em 1em;
    border-radius: 1em;
    font-size: 1.2em;
    line-height: 1.6em;
    box-shadow: 0 1.6em 2.4em rgba(40, 4, 67, 0.3);
}

.container img{
    width: 100%;
}

p{
    font-weight: 400;
    color: #747497;
}

#btn{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 2px rgba(45,255,196,0.9) solid;
    background-color: #fff;
    color: #090931;
    outline: none;
    margin: 8px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0px 0px 15px 3px rgba(45,255,196,0.9);
}

#btn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 25px 7px rgba(45,255,196,0.9);
}

span{
    display: flex;
    flex-direction: row;
    font-weight: 400;
    color: #090931;
}

@media screen and (max-width: 463px) {
    body{
        overflow: hidden;
    }

    .container{
        width: 200px;
        padding: 0 25px 8px;
        border-radius: 8px;
        font-size: 20px;
        line-height: 23px;
        font-size: 12px;
    }
    
}